



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* 禁止左右溢出，确保 100% 平铺 */
    overflow-x: hidden;
    background-color: #050505;
  }

  /* 自定义滚动条样式，增加专业质感 */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
  }
}